In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import os

In [6]:
os.getcwd()

'C:\\Users\\panap\\ML_toxic\\ToxicCommentClassificationChallenge'

In [8]:
train_data = pd.read_csv('csv/train.csv')

In [9]:
train_data.head()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\r\nWhy the edits made under my use...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\r\nMore\r\nI can't make any real suggestions...",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0

In [10]:
test_data = pd.read_csv('csv/test.csv')

In [11]:
test_data.head()

                 id                                       comment_text
0  00001cee341fdb12  Yo bitch Ja Rule is more succesful then you'll...
1  0000247867823ef7  == From RfC == \r\n\r\n The title is fine as i...
2  00013b17ad220c46  " \r\n\r\n == Sources == \r\n\r\n * Zawe Ashto...
3  00017563c3f7919a  :If you have a look back at the source, the in...
4  00017695ad8997eb          I don't anonymously edit articles at all.

In [27]:
train_data.shape, test_data.shape

((159571, 8), (153164, 2))

In [12]:
train_data.comment_text[123]

'Should say something about his views as an educationalist and socialist political commentator.\r\n\r\nLink to http://www.langandlit.ualberta.ca/Fall2004/SteigelBainbridge.html mentions this a bit - he stood as an election candidate for Respect.'

In [16]:
train_data[1000:1100].where(train_data.toxic==1)

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003,02bbfc50f48fb9bd,"Take care not to believe your own bullshit, se...",1.0,0.0,1.0,0.0,0.0,0.0
1004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1096,02fe38c6d10c97a5,"Get off your high horse, or block me.",1.0,0.0,0.0,0.0,0.0,0.0
1097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN