Balansiranje

In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [4]:
data = pd.read_csv('../data/data_longer.csv')

In [5]:
data[data['target']==0].shape

(200985, 10)

In [6]:
data[data['target']==1].shape

(22468, 10)

In [7]:
clean = data[data['target']==0]
toxic = data[data['target']==1]

In [8]:
clean = clean[:22468]

In [9]:
new_data = pd.concat([clean, toxic])

In [10]:
new_data = new_data.sample(frac=1)

In [12]:
new_data.head()

,Unnamed: 0,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate,target,word_count
24127,24135,ability to vanish such folks are only around ...,0,0,0,0,0,0,0,19
8855,8859,hi its possible sounds like an interesting cl...,0,0,0,0,0,0,0,23
15528,15535,as you live in brum just thought id let you kn...,0,0,0,0,0,0,0,33
182307,54534,oh bitch is gonna block me better move to the ...,1,0,1,0,1,0,1,14
10990,10995,forget it man youre talking to a proxy anyway ...,0,0,0,0,0,0,0,15

In [13]:
new_data.to_csv('../data/undersampled.csv')

In [60]:
new_data

,Unnamed: 0,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate,target,word_count
8947,8951,music and mathmatics basically nobody cares ...,0,0,0,0,0,0,0,24
45182,45194,haha same old execuse from proi amperialistsi ...,0,0,0,0,0,0,0,73
3734,3735,this was resolved weeks ago with favor towards...,0,0,0,0,0,0,0,56
63075,63090,well its about ti ame that cj dub got blocked ...,1,0,0,0,0,0,1,67
176139,39821,you are so silly hayek couldnt use his term li...,1,0,0,0,1,0,1,27
...,...,...,...,...,...,...,...,...,...,...
2195,2195,you are a fool if you think wikipedia is a res...,1,0,0,0,1,0,1,17
4447,4448,ok you delete the other two but not vezelis wh...,0,0,0,0,0,0,0,18
42425,42437,disputed fair use rationale for i amagemileywo...,0,0,0,0,0,0,0,156
20726,20734,hey ekograf its when you get a chance please c...,0,0,0,0,0,0,0,28
5250,5252,wikiproject article rescue squadron newsletter,0,0,0,0,0,0,0,5